.blog_title{               /*overall container*/
  display: flex;      /* enable flex box ->create a container*/
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  justify-content: center; /* without flex box it will not work*/
  padding: 20px;
}

.new_post{
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}